.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: white;
}

.container-cabecera {
  border-top: 5px solid black;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.container-cabecera .cabecera {
  width: 100%;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-cabecera .contenedor-iconos {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 1100px;
  align-items: center;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.container-cabecera .contenedor-iconos .logo {
  width: 80px;
}
.container-cabecera .contenedor-iconos .bolsa {
  width: 40px;
  height: 40px;
}
.container-cabecera .conatiner-pedido {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn-pedido {
  visibility: visible;
  font-size: 0;
  padding: 0;
}

.precio {
  visibility: hidden;
  font-size: 0;
  padding: 0;
}

.container-cabecera .cabecera-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-cabecera .menu {
  margin-top: 8px;
  margin-bottom: 10px;
  height: 36px;
  display: flex;
  width: 100%;
  max-width: 1100px;
  justify-content: center;
  align-items: center;
}
.container-cabecera .menu a {
  color: black;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0 10px;
}
.container-cabecera .menu a:hover {
  color: #006241;
  transition: all 0.3s ease;
}

.main .contenedor-input {
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 156px;
}
.main input::placeholder {
  color: black;
}
.main .input {
  border: none;
  outline: none;
  border: 1px solid #ccc;
  padding: 0.4rem 0.5rem;
  border-radius: 10px;
  color: #006241;
  font-weight: 700;
  width: 280px;
  display: block;
}

.contenedor-carrusel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.carrusel {
  max-width: 1100px;
  position: relative;
  height: 380px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-carrusel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: opacity 1s ease;
}

.activo {
  visibility: visible;
}

.carrusel .carrusel-botones {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  height: 2rem;
  top: 50%;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carrusel .carrusel-botones a {
  font-size: 4rem;
  line-height: 4rem;
  color: white;
  font-weight: 800;
}
.carrusel .carrusel-botones a:hover {
  color: black;
  transition: all 0.3s ease-in-out;
}

.contenedor-posicion {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.posicion {
  margin-top: 0.5rem;
  width: 110px;
  height: 10px;
  background-color: #006241;
  opacity: 0.6;
}

.posicion-activa {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.comprar {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-productos {
  background-color: #efefef;
  padding-bottom: 3rem;
}

.productos {
  margin-top: 2rem;
  padding-top: 2rem;
  scroll-margin-top: 156px;
}

.productos .title-producto {
  text-align: center;
  font-weight: 600;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  font-size: 2rem;
  color: #212529;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.row-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row-productos .producto {
  max-width: 50%;
}
.row-productos .producto img {
  width: 90%;
  margin: 0 auto;
  max-width: 230px;
}
.row-productos .producto h3 {
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  text-align: center;
  color: #1e3932;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

footer {
  border-top: 1px solid #ccc;
  background-color: #f8f5f2;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  display: none;
}

.icono-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.icono-footer .icono {
  background-color: #f8f5f2;
  width: 60px;
  border-radius: 50%;
}

.contact .message {
  color: #1e3932;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.container-suscripcion {
  display: flex;
  gap: 0.5rem;
}
.container-suscripcion .input-suscripcion {
  width: 250px;
  padding: 0.5rem;
}
.container-suscripcion .btn-suscripcion {
  border: none;
  border-radius: 5px;
  border: 1px solid #1e3932;
  padding: 0.5rem;
  color: #1e3932;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
}
.container-suscripcion .btn-suscripcion:hover {
  background-color: #C5DBD3;
  transition: all 0.3s ease;
}

.footer-enlaces {
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.5rem;
}
.footer-enlaces .footer-enlaces-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
.footer-enlaces .footer-enlace-title {
  margin-bottom: 0.6rem;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
  color: #1e3932;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.footer-enlaces a {
  margin: 0.35rem 0;
  text-transform: uppercase;
  color: #1e3932;
  font-weight: 700;
  font-size: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: color 0.3s ease-out;
}

.libro-reclamaciones {
  background: url("../../img/proy5/sprite-sb_v3.png") no-repeat;
  background-color: #f8f5f2;
  width: 120px;
  height: 100px;
  background-position: -340px -310px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.container-redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-redes h5 {
  color: #1e3932;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}
.container-redes .redes i {
  margin: 1rem 0;
  color: #212529;
  font-size: 2rem;
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1100px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 375px) {
  .container-cabecera .menu a {
    font-weight: 900;
    font-size: 0.7rem;
    margin: 0 8px;
  }
  .posicion {
    width: 65px;
  }
}
@media screen and (min-width: 768px) {
  .producto {
    max-width: 33%;
  }
  .btn-pedido {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 0.9rem;
    line-height: 20px;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: #1E3932;
    color: white;
    text-transform: uppercase;
    visibility: visible;
  }
  .btn-pedido:hover {
    background-color: #006241;
    transition: all 0.2s ease-in-out;
  }
  .precio {
    font-size: 1.3rem;
    font-weight: 600;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    visibility: visible;
  }
  .container-cabecera .menu {
    margin-left: 20px;
    justify-content: flex-start;
  }
  .main .contenedor-input {
    justify-content: flex-end;
  }
  .main .input {
    width: 332px;
  }
}
@media screen and (max-width: 939px) {
  @keyframes efecto {
    0% {
      object-position: left;
    }
    100% {
      object-position: right;
    }
  }
  .item-carrusel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: efecto 4s infinite normal;
  }
}
@media screen and (min-width: 941px) {
  .item-carrusel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (min-width: 992px) {
  .row-productos .producto {
    max-width: 50%;
  }
  footer {
    display: block;
  }
  .contenedor-productos {
    margin-bottom: 2rem;
  }
  .item-carrusel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/*# sourceMappingURL=project05.css.map */
